#cartPage {
  width: 1050px;
  padding: 250px 0;
  margin: 0 auto;
}
#cartPage h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
#cartPage .cartWrap {
  display: flex;
  justify-content: space-between;
}
/* 좌측 장바구니 리스트 */
#cartPage .cartWrap .cartItem {
  width: calc(100% - 284px);
  padding: 0 20px 0 0;
}
#cartPage .cartWrap .cartItem .itemTop {
  border-bottom: 1px solid #222;
  padding: 10px 0;
}
#cartPage .cartWrap .cartItem .itemTop #allChk {
}
#cartPage .cartWrap .cartItem .itemTop label {
  padding: 0 10px;
}
#cartPage .cartWrap .cartItem .itemTop label .chkItem {
}
#cartPage .cartWrap .cartItem .itemTop label .allItem {
}
#cartPage .cartWrap .cartItem .itemTop .selectRemove {
  font-weight: 700;
}
#cartPage .cartWrap .cartItem .itemList {
  padding: 20px 0;
}
#cartPage .cartWrap .cartItem .itemList .cartlist {
  border-bottom: 1px dashed #ccc;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
#cartPage .cartWrap .cartItem .itemList .cartlist > * {
  display: flex;
  align-items: center;
}
#cartPage .cartWrap .cartItem .itemList .cartlist .left {
}
#cartPage .cartWrap .cartItem .itemList .cartlist .left > * {
  margin-right: 10px;
}
#cartPage .cartWrap .cartItem .itemList .cartlist .left input[name='cartChk'] {
}
#cartPage .cartWrap .cartItem .itemList .cartlist .left img {
  width: 100px;
  border-radius: 5px;
}
#cartPage .cartWrap .cartItem .itemList .cartlist .left h2 {
  font-weight: 700;
}
#cartPage .cartWrap .cartItem .itemList .cartlist .right {
}
#cartPage .cartWrap .cartItem .itemList .cartlist .right .count {
  background: #eee;
  padding: 5px;
  display: flex;
  align-items: center;
}
#cartPage .cartWrap .cartItem .itemList .cartlist .right .count .minus,
#cartPage .cartWrap .cartItem .itemList .cartlist .right .count .plus {
  width: 25px;
  height: 25px;
}
#cartPage .cartWrap .cartItem .itemList .cartlist .right .orderPrice {
  font-size: 1.3rem;
  margin: 0 10px;
}
#cartPage .cartWrap .cartItem .itemList .cartlist .right .remove {
}
#cartPage .cartWrap .cartItem .itemList .cartlist .right .remove .removeBtn {
  background: none;
}
/* 우측 장바구니 상세내역 */
#cartPage .cartDetail {
  width: 284px;
}
#cartPage .cartDetail dl {
  background: #eee;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ccc;
}
#cartPage .cartDetail dl dt {
  width: 100px;
  margin-bottom: 15px;
}
#cartPage .cartDetail dl dt:nth-of-type(2) {
  margin-bottom: 60px;
}
#cartPage .cartDetail dl dd {
  width: calc(100% - 100px);
  text-align: right;
}
#cartPage .cartDetail dl dd em {
  font-weight: 700;
}
#cartPage .cartDetail #loginBtn {
  margin: 5px 0;
  background: #222;
  color: #fff;
  width: 100%;
  padding: 17px 0;
}
#cartPage .cartDetail .info {
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: -0.04rem;
}
