#joinWrap {
  padding-top: 250px;
}
#joinWrap > h1 {
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
}
#joinWrap > p {
  text-align: center;
  color: #888;
  font-size: 0.9rem;
  padding: 15px 0 50px;
}
#joinWrap .title {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 15px;
}
#joinWrap .title h2 {
  font-weight: 800;
}
#joinWrap .title p {
  color: #888;
}
/*  */
#joinWrap form {
  width: 70%;
  margin: 20px auto;
}
#joinWrap form dl {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 100px;
}
#joinWrap form dl > * {
  padding: 10px;
}
#joinWrap form dl dt {
  width: 200px;
  font-size: 0.9rem;
  color: #888;
}
#joinWrap form dl dd {
  width: calc(100% - 200px);
}
#joinWrap form dl dd input {
  border: 1px solid #cdcdcd;
  padding: 5px 10px;
  font-size: 0.9rem;
  width: 200px;
}
#joinWrap form dl dd input[id*='Add'] {
  width: 100%;
  margin-top: 6px;
}
#joinWrap form dl dd #detailAddress {
  background: #eee;
}
#joinWrap form dl dd #userAddSearch {
  background: #555;
  color: #f1f1f1;
  margin-left: 10px;
  padding: 7px 10px;
  font-size: 0.9rem;
}
#joinWrap form dl dd input[type*='ch'] {
  width: auto;
  margin-right: 10px;
}
#joinWrap form dl dd #numVoice,
#joinWrap form dl dd #reset {
  background: #333;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 4px 4px 0;
}
#joinWrap form dl dd #numInput {
  width: 250px;
}
#joinWrap form dl dd span {
  font-size: 0.9rem;
  padding-left: 10px;
}
#joinWrap form h2 {
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 20px;
}
#joinWrap form div[class*='mem'] {
  background: #ddd;
  border: 1px solid #888;
  height: 300px;
  padding: 20px 16px;
  overflow-y: auto;
}
#joinWrap form div[class*='mem'] p {
  height: 1000px;
  line-height: 1.6;
}
#joinWrap form label[for*='mem'] {
  margin: 20px 0 100px;
  display: block;
  font-size: 0.9rem;
}
#joinWrap form label[for*='mem'] input {
  margin-right: 10px;
}
#joinWrap form label[for*='mem'] ~ p {
  text-align: center;
}
#joinWrap form #joinBtn {
  margin-bottom: 100px;
  background: #222;
  color: #fff;
  padding: 15px 60px;
}
/* #modalClaose {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: none;
} */
